<div class="container">
  <div class="row">
    <div class="col-md-12 page-header text-center text-muted">
        <h1>Let's get started!</h1>
        <p>First, tell us what you're looking for.</p>
    </div>

    <div class="m-lg-bottom hidden-xs">&nbsp;</div>
    <div class="p-md-bottom visible-xs">&nbsp;</div>
    <div class="col-md-12 text-center">
      <div class="col-md-5">
        <div class="text-muted">
          <div><i class="glyphicon glyphicon-user"></i></div>
          <h2>I want to hire a freelancer</h2>
        </div>
        <a class="btn btn-primary text-capitalize m-0" href="/users/sign_up?role=client">Hire</a>
      </div>

      <div class="col-md-2 o-or-divider">OR</div>

      <div class="col-md-5">
        <a class="btn btn-primary text-capitalize m-0" href="/users/sign_up?role=publisher">Work</a>
      </div>
    </div>
  </div>
</div>