<div class="container">
  <div class="row">
    <div class="col-md-12 page-header text-center text-muted">
        <h1>Let's get started!</h1>
        <p>First, tell us what you're looking for.</p>
    </div>

    <div class="m-lg-bottom hidden-xs">&nbsp;</div>
    <div class="p-md-bottom visible-xs">&nbsp;</div>
    <div class="col-md-12 text-center">
      <div class="col-md-5">
        <div>
          <div><i class="glyphicon glyphicon-user"></i></div>
          <h2>I want to hire a Publisher</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <a class="btn btn-primary text-capitalize m-0" href="/users/sign_up?role=client">Hire</a>
      </div>

      <div class="col-md-2 o-or-divider">OR</div>

      <div class="col-md-5">
        <div><i class="glyphicon glyphicon-user"></i></div>
        <h2>I want to Work for a Client</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a class="btn btn-primary text-capitalize m-0" href="/users/sign_up?role=publisher">Work</a>
      </div>
    </div>
  </div>
</div>