<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-sign-out"></i> Sign out</a></li>
<% else %>
  <li>
    <a href="/users/sign_in"><i class="fa fa-sign-in"></i> Sign in</a>
  </li>
  <li>
    <a href="/users/sign_up"><i class="fa fa-pencil"></i> Sign up</a>
  </li>
  <li><button type="button" class="btn btn-default navbar-btn">Become a Publisher</button></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Admin', '/admin' %></li>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
